# Public variables (accessible from client-side code)
PUBLIC_SHEETS_CSV_URL="https://docs.google.com/spreadsheets/d/1yrrsleE3jCKx5dtvckmtUbxddSeL-VOJOARGYGoEav4/export?format=csv"

# Private variables (only accessible server-side)
WEBHOOK_URL="https://n8n.misecretaria.com.ar/webhook-test/bca45910-f291-4db6-bc4a-f5cd87e6f665"
