---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import HowItWorks from "../components/HowItWorks.astro";
import Benefits from "../components/Benefits.astro";
import ContactForm from "../components/ContactForm.astro";
import Footer from "../components/Footer.astro";
import Chatbot from "../components/Chatbot.tsx";
---

<MainLayout>
  <Header />
  <main>
    <Hero />
    <Services />
    <HowItWorks />
    <Benefits />
    <ContactForm />
  </main>
  <Footer />
  <Chatbot client:load />
</MainLayout>
